body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

a {
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
}

.flex-container {
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* header section*/

header {
  position: fixed;
  width: 100%;
  height: 69px;
  background-color: black;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
}

header nav span {
  padding: 0px 10px;
}
/* main content section */

.main {
  padding-top: 70px;
  width: 1200px;
  opacity: .9;
  margin: auto;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%;
}

#products {
  width: 1000px;
  margin: auto;
  padding: 70px 0px;
}

.product {
  padding: 5px;
}

.product img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px 10px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

#locations .all-locations {
  width: 980px;
  padding-top: 5px;
  margin: auto;
  justify-content: space-between;
}

#locations .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 300px;
  padding: 10px 0px;
  opacity: 1;
}

.contact {
  height: 200px;
}

.contact a {
  text-decoration: none;
}

footer {
  text-align: left;
  padding-left: 20px;
}
